body{
    
    background-image: url(fundo\ vector\ 5.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.menuprincipal{
    list-style-type:none;
    padding: 0;
    margin: 10px;
    margin-left: 20%;    
}

.menulist{
    float: left;
    width: 150px;
    font-size: 20px;
}

.contatomaster{
    list-style-type: none;
    padding: 0;
    margin: 10px;
    margin-left: 36%;
}

.portifolio{
    list-style-type: none;
    padding: 0;
    margin: 10px;
    margin-left: 45%;
}

.contato{
    float: left;
    width: 150px;
    font-size: 20px;   
}

h1{
    text-align: center;
    font-weight: bold;
}

p{
    text-align: justify;
    font-size: 20px;
    margin: 20px;
}

h2{
    font-size: 25px;
}

.txtable{
    align-items: center;
    border-style: solid;
}

.container{
    position: flex;
    margin-left: 10%;
    
}

.foto{
    max-width: 1080px;
    max-height: 720px;
    width: auto;
    height: auto;
    border: 2px solid ;
}

.lista{
    font-size: 20px;
}

.mensagem{
    font-size: 20px;
}
#msg{
    font-size: 15px;
}

.salario{
    font-size: 20px;
}